.label {
    -fx-background-color: linear-gradient(to bottom right, #00ffbf, #00ddff);
    -fx-border-color:
        linear-gradient(to right, #d55e00, #009e73)
        linear-gradient(to bottom, #009e73, #cc79a7)
        linear-gradient(to left, #cc79a7, #0072b2)
        linear-gradient(to top, #0072b2, #d55e00);
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.add-label {
    -fx-background-color: yellow;
}

.marked-label {
    -fx-background-color: palegreen;
}

.unmarked-label {
    -fx-background-color: lightgray;
}

.delete-label {
    -fx-background-color: lightpink;
}

.error-label {
    -fx-background-color: #ffcc99;
    /* muted dark maroon */
    -fx-text-fill: #5b1a1a;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
