# IDEA files
/.idea/
/out/
/*.iml

# JDT-LS files
/.classpath
/.project
/.settings/
/bin/

# Gradle build files
/.gradle/
/build/
/src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml

# File(s) created by the app
/data/
